include README.rst
include package.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include assets *
recursive-include {{ cookiecutter.app_name }}/template *
recursive-include {{ cookiecutter.app_name }}/static/build *
